/* Download Buttons + Comment Submit Button */
.download-button-shortcode {
    border: 1px solid rgb(128 128 128);
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgb(125 125 125 / 50%), inset 0 0 0 2px rgb(221 221 221);
    display: inline-block;
    padding: 2px;
}

.download-button-shortcode:hover {
    box-shadow: inset 0 0 0 2px rgb(221 221 221);
}

.download-button-shortcode:active {
    border: 1px solid rgb(179 179 179);
}

.download-button-shortcode a {
    background: linear-gradient(rgb(236 236 236), rgb(221 221 221));
    border-radius: 4px;
    display: block;
    padding: 0 0 0 50px;
}

.download-button-shortcode a,
.download-button-shortcode a:hover,
.download-button-shortcode a:active {
    color: rgb(55 55 55);
    text-decoration: none;
}

.download-button-shortcode > a > span {
    background: linear-gradient(rgb(255 255 255), rgb(240 240 240));
    border-radius: 0 3px 3px 0;
    display: block;
    font-size: 18px;
    line-height: 100%;
    padding: 15px;
}

.download-button-shortcode a span em {
    font-size: 14px;
}

.button-download {
    background: linear-gradient(rgb(236 236 236), rgb(221 221 221));
    display: block;
    max-width: 280px !important;
    position: relative;
    width: 100%;
}

.button-download a {
    background: url("../img/button-download.png") 20px 45% no-repeat;
    padding-left: 75px;
}

.button-download a[class*="download-item-type-pdf"] {
    background: url("../img/button-pdf.png") 18px 45% no-repeat;
}

.button-download a[class*="download-item-type-link"] {
    background: url("../img/button-link.png") 20px 45% no-repeat;
}

.button-download a[class*="download-item-type-doc"] {
    background: url("../img/button-doc.png") 20px 45% no-repeat;
}

.button-download a[class*="download-item-type-image"] {
    background: url("../img/button-image.png") 20px 45% no-repeat;
}

.button-download a[class*="download-item-type-archive"] {
    background: url("../img/button-archive.png") 20px 45% no-repeat;
}

.button-download a[class*="download-item-type-audio"] {
    background: url("../img/button-audio.png") 20px 45% no-repeat;
}

.button-download a[class*="download-item-type-video"] {
    background: url("../img/button-video.png") 20px 45% no-repeat;
}
